<% include ../partials/adminheader %> 


<div class="container text-align:center">
<h2 class="page-title">Изменить Категорию</h2>
<a href="/admin/categories" class="btn btn-primary">Назад ко всем категориям</a>
<br><br>

<form method="post" action="/admin/categories/edit-category/<%=  id %>">
    <div class="form-group">
        <label for="">Название</label>
        <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Название">
    </div>

    <button class="btn btn-default">Изменить</button>
</form>
</div>

<% include ../partials/adminfooter %> 