
<link rel="stylesheet" href="/stylesheets/footer.css">

<footer>
&COPY;ООО "М-ГИДРО" Адрес: РТ, г.Казань, ул.Достоевского 66/17 Тел.: +7(843)290-02-35; +7(917)279-23-47
</footer>

<script data-cfasync="false" type="text/javascript"
src="https://cdn.jsdelivr.net/gh/dwyl/html-form-send-email-via-google-script-without-server@master/form-submission-handler.js"></script>
<script src="scripts/main.js"></script>
    </body>
</html>