
<link rel="stylesheet" href="/stylesheets/footer.css">

</div>  
</div>

</div>


<div class="wrapper">
      <div class="pulse" id="btn">
         <div class="phone"><i class="fa fa-phone"></i></div>
         <div class="text">Обратная связь</div>
      </div>
   </div>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close" id="close">&times;</span>
    <p class="modal-text">Если пожелаете, мы презвоним Вам в течении минуты!</p>
<form id="gform" method="POST" action="https://script.google.com/macros/s/AKfycby31tMDTmhPOg3LALpLTGjz-YxSgTUUiFQCUTySxQ7bASrOUmE/exec" class="frm">
	<input type="hidden" name="email" value="mgidro16@gmail.com">
	<input type="text" name="phone" placeholder="Введите номер телефона" class="frm-input" id="inp">
	<p></p><p>
    <button class="btn-danger" id="nope">Нет</button>
    </p>
    <p>
    <button class="btn-modal" id="yes">Да</button>
    </p>
</form>
  </div>
</div>

<div id="newModal" class="modal2">
  <div class="modal-content">

    <p class="modal-text">Спасибо, ожидайте!</p>
    <p id="status"></p>
    <button class="btn-danger" id="closeMe">Зыкрыть</button>
   
  </div>
</div>



<footer>
&COPY;ООО "М-ГИДРО" Адрес: РТ, г.Казань, ул.Достоевского 66/17 Тел.: +7(843)290-02-35; +7(917)279-23-47
</footer>

<script data-cfasync="false" type="text/javascript"
src="https://cdn.jsdelivr.net/gh/dwyl/html-form-send-email-via-google-script-without-server@master/form-submission-handler.js"></script>
<script src="scripts/main.js"></script>
    </body>
</html>