<% include partials/header %> 

<div class="container">
    <div class="row products text-center" style="display: flex; flex-wrap: wrap">
    <div class="col-xs-12 col-md-10 mx-auto">
    <div class="img-thumbnail p-3" style="text-align:center">
        
<%- content %>

</div>
</div>
</div>
</div>
<script src="scripts/background.js"></script>
<% include partials/footer1 %> 