<% include partials/header %> 
<link rel="stylesheet" href="stylesheets/landing.css">
<div id="body" class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="content animated bounceInLeft">
       <h1>М-ГИДРО</h1>
       <h2>+7(843)290-02-35</h2>
        <h3>Начни экономить сегодня!</h3>
        <hr class="logo mx-auto">
        <a href="/products/p/1" class="btn btn-dark btn-lg" id="magbut"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
Магазин</a>
      </div>
    </div>
  </div>
</div>  
<% include partials/footer %> 